/* Button */

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  color: $white;
  border: 1px solid transparent;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  cursor: pointer;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $white;
  }
}

.subscribe {
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.subscription .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button-portfolio {
  border: none;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;

  color: $primary-text-color;
  background-color: #f5f4fa;

  transition: background-color $timing-function, color $timing-function;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-color;
    font-family: inherit;
  }
}
