/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $timing-function, transform $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: $white;
  padding: 40px;
  min-width: 528px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform $timing-function;
  /* min-height: 581px; */

  &-name {
    display: block;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.15;
    font-size: 20px;
    text-align: center;
    color: $primary-text-color;
  }

  &-input {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border-color: $secondary-text-color;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

.input-field {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: color $timing-function;
  color: $primary-text-color;
}

.modal-input:focus-within > .modal-icon,
.input-field:not(:placeholder-shown) ~ .modal-icon {
  fill: $accent-color;
}

.modal-input:focus-within > .input-label {
  transform: translate(-25px, -35px);
  font-size: 12px;
  line-height: 1.17px;
  color: $accent-color;
}

.modal-input:focus-within > .input-field {
  border-color: $accent-color;
  outline: none;
}

.input-field:not(:placeholder-shown) + .input-label {
  transform: translate(-25px, -35px);

  font-size: 12px;
  line-height: 1.17px;
  color: $accent-color;
}

.input-field.textarea {
  font-size: 14px;
  line-height: 1.14;
  color: $secondary-text-color;
  margin-bottom: 30px;
  padding-left: 16px;
  transition: border-color $timing-function;
}

textarea {
  resize: none;
}

textarea.input-field:focus-within,
textarea.input-field:not(:placeholder-shown) {
  border-color: $accent-color;
  outline: none;
}

.modal-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-130%, 130%);
  background-color: $white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.input-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  color: $secondary-text-color;

  transition: transform $timing-function, color $timing-function;
}

.button.modal-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.modal-button:hover,
.button.modal-button:focus {
  background-color: $white;
  color: $accent-color;
  border: 1px solid $accent-color;
}

.submit {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: color $timing-function;
}

.subscribe {
  display: inline-block;
  margin-right: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: fill $timing-function;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  &-icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;
  }
}

.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;

  border-color: transparent;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.modal-link {
  color: $accent-color;
}
