/* Site nav */

.header {
  position: relative;
}

.header__body {
  display: flex;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  text-align: center;

  &.is-open {
    display: block;
  }
}
// .header {
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 50;
// }

// .header::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
// }

// .header::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
// }
// .header__body {
//   position: relative;

//   display: flex;
//   height: 60px;
//   align-items: center;
//   border-bottom: 1px solid #ececec;
// }
// .logo {
//   position: relative;
//   z-index: 3;
// }
// .header__burger {
//   display: none;
// }
// .header__menu {
//   display: flex;
// }

// .header__list {
//   display: flex;
//   position: relative;
//   z-index: 2;
// }

// .header-contacts {
//   display: flex;
//   position: relative;
//   z-index: 2;
// }
// .header__list {
//   display: flex;
//   position: relative;
//   z-index: 2;

//   & .link {
//     margin-right: 20px;
//   }
// }

// @media (max-width: 767px) {
//   .header__body {
//     height: 60px;
//   }

//   .header__burger {
//     display: block;
//     position: relative;
//     width: 30px;
//     height: 20px;
//     position: relative;
//     z-index: 3;
//   }

//   .header__burger span {
//     position: absolute;
//     background-color: black;
//     left: 0;
//     width: 100%;
//     height: 2px;
//     top: 9px;
//   }

//   .header__burger::before,
//   .header__burger::after {
//     content: '';
//     background-color: black;
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     left: 0;
//   }

//   .header__burger::before {
//     top: 0;
//   }
//   .header__burger::after {
//     bottom: 0;
//   }

//   .header__menu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $white;
//     padding-top: 60px;
//     text-align: center;
//   }

//   .header__list {
//     display: block;
//   }

//   .header__list li {
//     margin-bottom: 40px;
//   }

//   .header__list li:nth-last-child(-n + 1) {
//     margin-bottom: 60px;
//   }

//   .link {
//     padding-bottom: 8px;
//   }

//   .header-contacts {
//     display: block;
//     .link {
//       color: $secondary-text-color;
//       transition: color $timing-function;
//       margin-bottom: 16px;
//     }
//   }
// }

// // .main-nav {
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   border-bottom: 1px solid #ececec;
// // }

// // .site-nav {
// //   display: flex;
// //   margin-left: 85px;

// //   .item + .item {
// //     margin-left: 50px;
// //   }

// .link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     position: relative;

//     color: $primary-text-color;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.15;
//     letter-spacing: 0.02em;

//     transition: color $timing-function;
//   }

//   .link::before,
//   .current::after {
//     content: '';

//     position: absolute;
//     left: 0;
//     bottom: 0;

//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $accent-color;
//   }

//   .link::before {
//     transform: scale(0);
//     transition: transform $timing-function;
//   }

//   .link:focus::before,
//   .link:hover::before {
//     transform: scale(1);

//     &current {
//       color: $accent-color;
//     }
//   }
// }

// .link {
//   display: inline-flex;
//   align-items: center;
//   transition: color $timing-function;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .auth-nav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: auto;

//   .item + .item {
//     margin-left: 30px;
//   }

//   .link {
//     color: $secondary-text-color;

//     transition: color $timing-function;

//     &:hover,
//     &:focus {
//       color: $accent-color;
//     }
//   }
// }

// .icon-envelope,
// .icon-phone {
//   margin-right: 10px;
//   fill: currentColor;
// }
